settings:
  title: 'Status Page'
  url: 'https://uptime.cfss.us.kg' # used for Slack messages
  logo: logo-192x192.png # image in ./public/ folder
  daysInHistogram: 90 # number of days you want to display in histogram
  collectResponseTimes: true # collects avg response times from CRON locations

  allmonitorsOperational: 'All Systems Operational'
  notAllmonitorsOperational: 'Not All Systems Operational'
  monitorLabelOperational: 'Operational'
  monitorLabelNotOperational: 'Not Operational'
  monitorLabelNoData: 'No data'
  dayInHistogramNoData: 'No data'
  dayInHistogramOperational: 'All good'
  dayInHistogramNotOperational: ' incident(s)' # xx incident(s) recorded

monitors:
  - id: workers-cloudflare-com # unique identifier
    name: workers.cloudflare.com
    description: 'You write code. They handle the rest.' # default=empty
    url: 'https://workers.cloudflare.com/' # URL to fetch
    method: GET # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false
    linkable: false # allows the title to be a link, default=true

  - id: Newapi
    name: api.mk99.eu.org
    description: 'Built for anything connected to the Internet.'
    url: 'https://api.mk99.eu.org'
    method: GET
    expectStatus: 200
    linkable: true # allows the title to be a link, default=true

  - id: zhome
    name: The Blog
    url: 'http://zhome.asia/'
    method: GET
    expectStatus: 200

  - id: openaiw
    name: openaiweb
    url: 'https://mk99z-web.hf.space'
    method: GET
    expectStatus: 200

  - id: pieces-api
    name: pieces-api
    url: 'https://mk99z-pieces-os.hf.space'
    method: GET
    expectStatus: 200

  - id: lite
    name: litellmGemini
    url: 'https://mk99z-litellm.hf.space/'
    method: GET
    expectStatus: 200

  - id: DDg-api
    name: DDg-api
    url: 'https://mk99z-ddg-chat.hf.space'
    method: GET
    expectStatus: 200
 
  - id: Duck2-api
    name: duck2-api
    url: 'https://mk99z-duck2api.hf.space'
    method: GET
    expectStatus: 200

  - id: ip-api
    name: ping api
    url: 'https://mk99z-api.hf.space'
    method: GET
    expectStatus: 200
  
